@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@theme {
  /* Phones */
  --breakpoint-sm: 320px;
  /* Tablets */
  --breakpoint-md: 600px;
  /* Laptops */
  --breakpoint-lg: 1024px;
  /* Desktops */
  --breakpoint-xl: 1280px;

  --color-primary: #2c3e50;
  --color-secondary: #1abc9c;
  --color-third: #1a252f;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0d141b;
}

::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c3e50;
}